{{define "content"}}
{{template "header"}}

<div id="content">

	{{range .}}

	{{with .MainData}}
	{{range .}}

	<div class="post">
		<div class="post-date">
			<span style='display:none' class='dateString'>{{.Date}}</span>
			<span class="post-date-week">Friday</span>
			<span class="post-date-day">2014/5/16</span>
		</div>
		<div class="post-body">
			{{range .MainPages}}
			<div class="item">
				<a href='{{ .Url }}' >
					<img src='{{ .Pic }}'  alt=''/>
					<span class='title'>{{ .Title }}</span>
				</a>
			</div>
			{{end}}
		</div>
	</div>

	{{end}}

	{{end}}
</div>

	{{with .PageData}}
	<div id="page">

		{{range .}}
		<a href="/page/{{.}}">{{.}}</a>
		{{end}}
	</div>

	{{end}}

	{{end}}
{{template "footer"}} 

{{end}}