{{define "testtpl"}}

<html>
<body>

<div id="foot">  
	<ul>
		<li>© 2013 知乎 · Powered by <a href="http://artwalk.github.io/">Artwalk</a> 
		& 可爱(pà)的前端<a href="http://www.cnblogs.com/misadancer/">Misa</a></li>
		<li>给个星星吧~ ＞▽＜ <a href="https://github.com/Artwalk/GO-ZhihuDaily">Github</a></li>	
	</ul>
</div>  


</body>
</html>
{{end}}
