{{define "footer"}}



<div id="foot">  
	<ul>
		<li>© 2013 知乎 · Powered by <a href="http://artwalk.github.io/">Artwalk</a> 
		& 可爱(pà)的前端<a href="http://www.cnblogs.com/misadancer/">Misa</a></li>
		<li>给个星星吧~ ＞▽＜ <a href="https://github.com/Artwalk/GO-ZhihuDaily">Github</a></li>	
	</ul>
</div>  

<script>
/******
 * 出场动画
 * By Misa @ 2014.5.19
 *****/

window.onload = function() {
  var items = document.querySelectorAll('.item'),
  l = items.length;

  var turnOn = function(i) {
    if(i < l) {
      items[i].style.webkitTransform = 'rotateY(0deg)'
      i++
      setTimeout(function() {
        turnOn(i)
      }, 100)
    } else {
      return
    } 
  }

  turnOn(0)
}

// 渲染日期
var week = document.querySelectorAll('.post-date-week'),
day = document.querySelectorAll('.post-date-day'),
date = document.querySelectorAll('.dateString')
for(var i = week.length; i > 0; i--) {
  week[i-1].innerHTML = date[i-1].innerHTML.split(' ')[1];
  day[i-1].innerHTML = date[i-1].innerHTML.split(' ')[0]
}
</script>

</body>
</html>
{{end}}
